<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- titulo %></title>
</head>
<body>
    <%- include('partials/header.ejs') %> <%- include('partials/nav.ejs') %>
    <main>
      <div class="main-content">
        <div class="contact-info">
          <h3>Encuentranos en:</h3>
          <p>Av. Montevideo, Fraccionamiento Villas del sol</p>
          <hr>
          <h3>Comunicate con nosotros:</h3>
          <p>Tel: +52 6691489051</p>
          <p>Correo: companyluz@correo.com</p>
        </div>
      </div>
    </main>
    <%- include('partials/footer.ejs') %>

</body>
</html>