<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  <%- titulo %>

    </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }


        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        label {
            margin-bottom: 5px;
        }

        input, select {
            margin-bottom: 10px;
            padding: 5px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        h5 {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <%- include('partials/header.ejs') %>
        <%- include('partials/nav.ejs') %>
        <% if(!isPost){ %>
        <form class="main-content" action="/pago" method="post">    
        <div>
            <center>            
            <label for="noRecibo">Numero de Recibo</label><input type="number" name="numRec" class="numRec" id="numRec" placeholder="Numero de Recibo" required><br>
            <label for="nombre">Nombre</label><input type="text" name="nombre" class="nombre" id="nombre" placeholder="Nombre" required><br>
            <label for="domicilio">Domicilio</label><input type="text" name="domicilio" class="domicilio" id="domicilio" placeholder="Domicilio" required><br>
            <label for="tipoServicio">Tipo de servicio</label><select name="servicio" id="servicio">
                <option value="1">Domicilio</option>
                <option value="2">Comercial</option>
                <option value="3">Industrial</option>
            </select><br>
            <label for="Kilowatts">kilowatts Consumidos</label> <input type="number" name="kilowatts" class="kilowatts" id="kilowatts" placeholder="kilowatts" required><br>
            <button id="enviar" name="enviar" type="submit"> Enviar informacion</button>
            <button id="limpiar" name="limpiar" type="reset">Limpiar</button>
        </center>
        </div>
        </form>
        <% } else{ %>
        <div>
            <table>
                <tr>
                    <th scope="col">Nombre</th> <th scope="col">Direccion</th><th scope="col">Tipo de servicio </th> <th scope="col">Kilowatts consumidos</th> <th scope="col">Costo por Kilowatt</th>
                </tr>
                <tr>
                    <td><%-nombre%></td> <td><%-domicilio%> </td><td><%-servicio%></td> <td><%-kilowatts%></td> <td><%-precio%></td>
                </tr>
            </table>
            <h5>Subtotal: $ <%-subtotal%> </h5>    <br>
            <h5>Impuesto:  $ <%-impuesto%> </h5>  <br>
            <h5>Descuento: $ <%-descuento%></h5> <br>
            <h5>Total a pagar:$ <%-total%></h5>  <br>
            </div>
            <% } %>
    <%- include('partials/footer.ejs') %>
</body>
</html>